/* TODO: scaling from outside */
fu-default-live-stream.scale-89 {
  width: 89%;
  height: 89%;
}
fu-default-live-stream.scale-88 {
  width: 88%;
  height: 88%;
}
fu-default-live-stream.scale-85 {
  width: 85%;
  height: 85%;
}

/** VVV childs VVV **/

fu-default-live-stream {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;

  /* https://stackoverflow.com/questions/18027751/overlay-divs-without-absolute-position */
  display: grid;
  grid-template-columns: 1fr;

  border: 1px solid #999999;

  text-align: center;
}
fu-default-live-stream .dls-loading,
fu-default-live-stream .dls-message,
fu-default-live-stream .dls-video,
fu-default-live-stream .dls-overlay {
  grid-row-start: 1;
  grid-column-start: 1;

  width: 100%;
  height: 100%;
}

fu-default-live-stream .dls-loading .progress {
  width: 96%;
  margin-left: 2%;
  margin-top: 10%;
}

fu-default-live-stream .dls-message > :only-child {
  margin-top: 12%;
}

fu-default-live-stream .dls-overlay {
  display: none;
}
