<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>500 - Internal Server Error</title>
    <meta name="description" content="">

    <!-- <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> -->
    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" type="image/gif">

    <link href="/assets/tabler/tabler.min.css" rel="stylesheet">
  </head>

  <body class="layout-fluid" data-bs-theme="light">
    <div class="page page-center">
      <div class="container-tight py-4">
        <div class="empty">
          <p class="empty-title">500 - Internal Server Error</p>
          <p class="empty-subtitle text-secondary">
            Something went wrong. Our programmer will be working on it.
          </p>
          <div class="empty-action">
            <a href="/" class="btn btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l14 0"></path><path d="M5 12l6 6"></path><path d="M5 12l6 -6"></path></svg>
              Go to index
            </a>
          </div>
        </div>
      </div>
    </div>

    <script src="/assets/tabler/tabler.min.js" defer=""></script>
  </body>
</html>
