<div class="page-wrapper">
  <!-- Page Header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <div class="page-pretitle">admin</div>
          <h2 class="page-title">{{ $._title }}</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="page-body">
    <div class="container-xl">
      <div class="row row-deck row-cards">
        <div class="col-4">
          <div class="card">
            <div class="card-body" style="height: 10rem"></div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-body" style="height: 10rem"></div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-body" style="height: 10rem"></div>
          </div>
        </div>
        <div class="col-12">
          <div class="card">
            <div class="card-body" style="height: 10rem"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
