<div class="page-wrapper">
  <!-- Page Header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <div class="page-pretitle"></div>
          <h2 class="page-title">{{ $._title }}</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Page Body -->
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-deck row-cards">
        <div class="col-12">
          <form id="formChangePassword" class="card">
            <div class="card-body py-3">

              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label class="form-label">Current User</label>
                    <span>{{ $._curr_username }}</span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <div class="mb-3">
                    <label for="oldPassword" class="form-label required">Old Password</label>
                    <input id="oldPassword" class="form-control"
                        type="text" placeholder="old password"
                        name="old_password" value="{{ $._form.OldPassword }}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="mb-3">
                    <label for="newPassword" class="form-label required">New Password</label>
                    <input id="newPassword" class="form-control"
                        type="text" placeholder="new password"
                        name="new_password" value="{{ $._form.NewPassword }}">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-2">
                  <div class="mb-3">
                    <button class="btn btn-primary"
                        title="Change Password" data-bs-toggle="tooltip" data-bs-placement="top"
                        type="submit" formmethod="post" formaction="/change-password">
                      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-device-floppy"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" /><path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M14 4l0 4l-6 0l0 -4" /></svg>
                      Change Password
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function(e) {
    nsMain.focusOn('oldPassword');
  });
</script>
