<div class="page-wrapper">
  <!-- Page Header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center mb-3">
        <div class="col">
          <div class="page-pretitle">404</div>
          <h2 class="page-title mb-1">Page not found</h2>
          <h4>Module {{ $._module_code }} is not active in this node</h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="btn-list">
            <a class="btn btn-primary" href="/home">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l4 4" /><path d="M5 12l4 -4" /></svg>
              Go to home
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-body">
    <div class="container-xl">
    </div>
  </div>
</div>
