<header class="navbar navbar-expand-sm navbar-light d-print-none">
  <div class="container-xl">
    <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
      <a href="#">
        <!-- <img src="..." width="110" height="32" alt="Tabler" class="navbar-brand-image" /> -->
      </a>
    </h1>
    

    <div class="navbar-nav flex-row order-md-last">
      <div class="d-none d-md-flex">
      </div>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
          <span class="avatar avatar-sm"></span>
          <div class="d-none d-xl-block ps-2">
            {{ if $.webuser }}
            <div>{{ $.webuser.name }}</div>
            <div class="mt-1 small text-secondary">{{ $.webuser.role }}</div>
            {{ end }}
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <a href="/change-password" class="dropdown-item">Change Password</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a href="/logout" class="dropdown-item">Logout</a>
        </div>
      </div>
    </div>
  </div>
</header>
